html {
  background-image: url(image/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	padding: 0 15px;
}
.intro h1{
    font-weight: 800;
}


div.start {
	font-family: Raleway, "Arial", Times, sans-serif;
	font-size: 17px;
	font-style: normal;
	text-transform: none;
	margin: 15px 0;
	
}

div.btn {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 8px 26px;
	border: 0;
}


div.container4 {
	text-align: center
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

img.image { width:300px; height:80px; border:0; padding-left:10px; padding-right:10px; }
/*Шапка сайта*/
li.none-bg {background:none!important;}
.telefon {float:right;}

/*Верхнее меню сайта*/
#menu-top{width:960px; height:74px; }
.bg-1 {width:950px; height:64px; background:#000 url(image/m2.png) repeat-x; padding:0 0 0 10px;}
.bg-2 {width:940px; height:8px; background:#000; margin:0 auto;}
.bg-1 ul {margin:0; padding:0; list-style:none;}
.bg-1 ul li {float:left; background:url(image/m3.png) no-repeat right center; padding:0 2px 0 0;}
.bg-1 ul li a {display:block; height:40px; padding:24px 27px 0 27px; color:#ff9c00; text-decoration:none; text-transform:uppercase;}
.bg-1 ul li a:hover {color:#fff; background:#ff9c00;}

