
html {
  background-image: url(image/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img.image {
    width:300px; 
	height:80px; 
	border:0; 
	padding-left:10px; 
	padding-right:10px;
}

.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	padding: 0 15px;
}
.intro h1{
    font-weight: 800;
}
.home-overlay {
    
    background-image: url(image/pattern.png);
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

div.start {
	font-family: Raleway, "Arial", Times, sans-serif;
	font-size: 17px;
	font-style: normal;
	text-transform: none;
	margin: 15px 0;
	color: white;
	
}

div.btn {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	padding: 8px 26px;
	border: 0;
	color: white;
}

div.port {
	font-family: Raleway, "Arial", Times, sans-serif;
	font-size: 17px;
	font-style: normal;
	text-transform: none;
	margin: 15px 0;
	color: white;
	
	
	
	
}






